@font-face{
    font-family: 'Young Serif';
    src: url("/src/fonts/young-serif/YoungSerif-Regular.ttf");
}
@font-face{
    font-family: 'Outfit';
    src: url("/src/fonts/outfit/Outfit-VariableFont_wght.ttf");
}