body{
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: hsl(30, 54%, 90%);
    flex-direction: column;
}
.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 50px 50px;
max-width: 600px;
padding: 40px 30px;

}
img{
border-radius: 10px;
width: 600px;

}
h1{
    font-family: 'Young Serif', sans-serif;
    color: hsl(24, 5%, 18%);
}
p{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: hsl(30, 10%, 34%);
}
h2{
    font-family: 'Young Serif', sans-serif;
    color:  hsl(14, 45%, 36%);
}
.timecontainer{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(330, 100%, 98%);
    color: hsl(332, 51%, 32%);
    border-radius: 10px;
    margin: 15px;
    font-weight: bold;
    padding: 10px;
flex-direction: column;
}

.time li{
    color: hsl(332, 51%, 32%);
margin-bottom: 15px;
}
.ingredients li{
    color:  hsl(14, 45%, 36%);
    margin: 10px 0px;

}
.ingredients li span{
    font-family: 'Outfit', sans-serif;
    color: hsl(30, 10%, 34%);
}
.Instructions {
    color:  hsl(14, 45%, 36%);
    font-family: 'Outfit', sans-serif;
font-weight: bold;
margin: 10px 0px;

}
.Instructions span{
    font-family: 'Outfit', sans-serif;
    color: hsl(30, 10%, 34%);
    font-weight: normal;
}
 .time li span {
    font-family: 'Outfit', sans-serif;
    color: hsl(30, 10%, 34%);
    font-weight: normal;
    position: relative;
    left: 10px;
  }
  span{
    position: relative;
    left: 20px;
    font-size: 17px;
  }
  hr{
    border: solid;
    border-width: 1px 0;
border-color: hsl(330, 100%, 98%);
  }
  table {
    border-collapse: collapse;
    width: 90%;
    font-family: 'Outfit', sans-serif;
    color: hsl(30, 10%, 34%);
  }
  .borderb {
    border-bottom: solid;
    border-width: 1px 0;
    border-color: hsl(330, 100%, 98%);
  }
  
 .value {
    height: 30px;
    color:  hsl(14, 45%, 36%);
    font-family: 'Outfit', sans-serif;
font-weight: bold;
  }


.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: relative;
    bottom: 0; 
    right: 0;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}